---
import Layout from '../layouts/Base.astro';
---
<head>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Hi, I'm Mario, a technology enthusiast. I love exploring the world of programming and closely following the latest technology trends. With the combination of creativity and technical skill, I am always looking for new challenges and exciting projects.
		
	</p>
    <br>

	<h2 class="title mt-4">Work</h2>
	<p>I currently work as a software engineer</p>
	</p>


<!-- X feed -->
<section class="mt-16">
    <h2 class="title">Follow Me on X</h2>
    <div class="twitter-container">
        <!-- Tweet 1 -->
        <blockquote class="twitter-tweet" data-theme="dark">
            <p lang="zxx" dir="ltr">
                <a href="https://t.co/G944SUA808">pic.twitter.com/G944SUA808</a>
            </p>&mdash; NetworkMario (@MarioMontella_) 
            <a href="https://twitter.com/MarioMontella_/status/1740764874303750482?ref_src=twsrc%5Etfw">December 29, 2023</a>
        </blockquote>
        <!-- Tweet 2 -->
    
        <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">I just published The Spread Operator in Javascript <a href="https://t.co/e3gK3WIjdP">https://t.co/e3gK3WIjdP</a></p>&mdash; NetworkMario (@MarioMontella_) <a href="https://twitter.com/MarioMontella_/status/1740859095920357669?ref_src=twsrc%5Etfw">December 29, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- Tweet 3 -->
        <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Clean Architecture for mobile: To be, or not to be via <a href="https://twitter.com/dailydotdev?ref_src=twsrc%5Etfw">@dailydotdev</a> <a href="https://t.co/nlzhpAUU1i">https://t.co/nlzhpAUU1i</a></p>&mdash; NetworkMario (@MarioMontella_) <a href="https://twitter.com/MarioMontella_/status/1739997633538625599?ref_src=twsrc%5Etfw">December 27, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>

<section class="mt-16">
    <h2 class="title">Gallery</h2>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4">
        <img src="/postazione.jpeg" alt="Project 1" class="rounded-lg shadow-sm"/>
        <img src="/img2.jpeg" alt="Project 2" class="rounded-lg shadow-sm"/>
        <img src="/img3.jpeg" alt="Project 3" class="rounded-lg shadow-sm"/>
        <img src="/img4.jpeg" alt="Project 4" class="rounded-lg shadow-sm"/>
    </div>
</section>

<h2 class="title mt-4">Contacts</h2>
<p>
	If you wish to contact me, you can do so through the following channels:
</p>
<br>
<ul class="flex space-x-4">
    <li>
        <a href="mailto:email@example.com" title="Email">
            <i class="fas fa-envelope fa-2x"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/mario-montella-54090b145/" target="_blank" rel="noopener noreferrer" title="LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/mariomontella" target="_blank" rel="noopener noreferrer" title="GitHub">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </li>
</ul>
	
</Layout>

