---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Astro Icon",
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
]; 

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello World;</h1>
		<p class="mb-4 sm:mb-8">
			Hi, I'm Mario Montella, a technology enthusiast. I love exploring the world of programming and closely following the latest technology trends. With the combination of creativity and technical skill, I am always looking for new challenges and exciting projects. Welcome to my digital world!
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title">Useful Resources</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a href="https://developer.mozilla.org/" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					MDN Web Docs
				</a>
				<p class="inline-block sm:mt-2">Comprehensive resource for web developers.</p>
			</li>
			<li>
				<a href="https://css-tricks.com/" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					CSS-Tricks
				</a>
				<p class="inline-block sm:mt-2">Tips and tricks for all things CSS.</p>
			</li>
			<li>
				<a href="https://docs.flutter.dev/" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					Flutter Docs
				</a>
				<p class="inline-block sm:mt-2"> Resource for flutter developers.</p>
			</li>
			<li>
				<a href="https://pub.dev/" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					pub.dev
				</a>
				<p class="inline-block sm:mt-2"> Package repo for Flutter</p>
			</li>
			<li>
				<a href="https://flutterawesome.com/" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					Flutter Awesome
				</a>
				<p class="inline-block sm:mt-2"> Flutter projects ideas</p>
			</li>
			<li>
				<a href="https://github.com/mariomontella/30-Days-Of-Python" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					Python Learning
				</a>
				<p class="inline-block sm:mt-2"> Python in 30 days</p>
			</li>
			<li>
				<a href="https://github.com/realpython/python-guide/tree/master" target="_blank" rel="noopener noreferrer" class="cody-link inline-block">
					Python Guide
				</a>
				<p class="inline-block sm:mt-2"> Alternative guide for Python learning</p>
			</li>
		</ul>
	</section>

	
	<!-- <section class="mt-16">
			<h2 class="title">Technologies</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section> -->
</BaseLayout>
